@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --border-color: #d8d8d8;
}

body {
  display: flex;
  margin: 0;
}

aside {
  padding: 12px;
  max-width: 256px;
  border: 1px solid var(--border-color);
}

.title > h1 {
  margin: 0 0 4px 0;
  font-size: 1rem;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  list-style: none;
}